<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>

      <handlers>
        <add
          name="aspNetCore"
          path="*"
          verb="*"
          modules="AspNetCoreModuleV2"
          resourceType="Unspecified" />
      </handlers>

      <aspNetCore
        processPath="dotnet"
        arguments=".\backend.dll"
        stdoutLogEnabled="true"
        stdoutLogFile=".\logs\stdout"
        hostingModel="inprocess">

        <environmentVariables>

          <environmentVariable
            name="ASPNETCORE_ENVIRONMENT"
            value="Production" />

          <environmentVariable
            name="ConnectionStrings__DefaultConnection"
            value="Host=aws-1-eu-west-1.pooler.supabase.com;Port=5432;Database=postgres;Username=postgres.idftairgyjnwhwwpcecc;Password=lS9QtoU50fV87hek;SSL Mode=Require;Trust Server Certificate=true" />

          <environmentVariable
            name="Jwt__Key"
            value="y9rU72p2OKiPq+wPxGfD9TOB25mMufo9SDpjAeUaf8sIZYmwZuzy6KBV7KPXDjCA" />

          <environmentVariable
            name="ADMIN_PASSWORD"
            value="MAHMOUD_442005" />

          <environmentVariable
            name="ADMIN_EDITOR_PASSWORD"
            value="Mahmoud_1072005!" />

          <environmentVariable
            name="SESSION_SECRET"
            value="U1SFhQ+pfI3b1tIS0WOPqvxa4RDXuwuyxwIcD+grM7HdzW95iIMgPRcN0wJuXKcz" />

          <environmentVariable
            name="FRONTEND_URL"
            value="https://elprof-blog.vercel.app" />

          <environmentVariable
            name="SUPABASE_URL"
            value="https://idftairgyjnwhwwpcecc.supabase.co" />

          <environmentVariable
            name="SUPABASE_BUCKET"
            value="blog-images" />

          <environmentVariable
            name="SUPABASE_SERVICE_ROLE_KEY"
            value="YOUR_SUPABASE_SERVICE_ROLE_KEY" />

        </environmentVariables>

      </aspNetCore>

    </system.webServer>
  </location>
</configuration>
