<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\backend.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="ConnectionStrings__DefaultConnection" value="YOUR_DATABASE_CONNECTION_STRING" />
          <environmentVariable name="Jwt__Key" value="YOUR_ROTATED_JWT_KEY_MIN_64_CHARS" />
          <environmentVariable name="ADMIN_PASSWORD" value="YOUR_ADMIN_PASSWORD" />
          <environmentVariable name="ADMIN_EDITOR_PASSWORD" value="YOUR_ADMIN_EDITOR_PASSWORD" />
          <environmentVariable name="SESSION_SECRET" value="YOUR_SESSION_SECRET" />
          <environmentVariable name="FRONTEND_URL" value="https://profblog.me,https://www.profblog.me,https://elprof-blog.vercel.app" />
          <environmentVariable name="SUPABASE_URL" value="https://idftairgyjnwhwwpcecc.supabase.co" />
          <environmentVariable name="SUPABASE_BUCKET" value="blog-images" />
          <environmentVariable name="SUPABASE_SERVICE_ROLE_KEY" value="YOUR_SUPABASE_SERVICE_ROLE_KEY" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>